/* FormStyles.css */

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--button-bg-color-hover);
}

/* Styles for category boxes */
.category-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 10px;
  max-width: 100%;
  scroll-behavior: smooth;
}

.category-box {
  flex: 0 0 auto; 
  background-color: blue;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  margin-right: 10px; /* Add space between boxes */
}

.category-box:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}

.task-desc-input,
.task-submit,
.task-date-input {
  border-radius: 5px;
  border: 2px solid blue;
}
