.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  max-width: 60vw;
  max-height: 65vh;
  margin: 0 auto;
}

.day-name {
  font-weight: bold;
  background-color: var(--calendar-bg-color);
  padding: 10px;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
}

.calendar-day {
  background-color: var(--calendar-date-bg-color);
  border: 1px solid var(--calendar-date-border-color);
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--calendar-date-color);
  border-radius: 4px;
  font-size: 1.2em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.calendar-day:hover {
  background-color: var(--calendar-date-bg-color-hover);
  cursor: pointer;
}

.not-current-month {
  color: var(--not-current-month-color);
  background-color: var(--not-current-month-bg-color);
}
