.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  max-width: 60vw;
  max-height: 65vh;
  margin: 0 auto;
}

.day-name {
  font-weight: bold;
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}

.calendar-day {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #000000;
  border-radius: 4px;
  font-size: 1.2em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.calendar-day:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.not-current-month {
  color: #b0b0b0;
  background-color: #f9f9f9;
}

.current-day {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
}
