.task-dot-container {
    display: flex;
    align-items: center;
    position: relative; /* Required for positioning the task-details */
}

.task-dot {
    width: 20px;
    height: 20px;
    background-color: var(--calendar-date-bg-color); /* Default color */
    background-size: cover;
    background-size: contain;
    background-position: center;
    transition: transform 0.2s ease;
}

.task-dot:hover {
    transform: scale(1.1);
    cursor:pointer;
}
.task-details {
    display: none;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    color:black;
    top: 100%; /* Position below the dot */
    left: 0;
    margin-top: 5px; /* Space between dot and details */
    z-index: 10;
    width: 200px; /* Adjust as needed */
}

.task-dot:hover + .task-details {
    display: block;
}
